{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% set colores = { r: 'Rojo', b: 'Negro', g: 'Verde' } %}

{% block head %}
<meta http-equiv="refresh" content="180">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Bienvenido al Casino Ruleta</h1>

    $Ruleta-><a href="{{ path('home') }}"> Girar() </a>
    <ul>
        <li>
            El color ganador es  
            {% for k,v in colores|filter( (v,k) => k == color) %}
                {{ v }} 
            {% endfor %}
        </li>
        {% for player in players %}
        <li>
            El jugador {{ player.name }} inicia con 
            {% for k,v in basemoney|filter((v,k) => k == player.id) %} 
                ${{v}} 
            {% endfor %},  
            Apuesta ${{ player.bet }} al Color
            {% for k,v in colores|filter( (v,k) => k == player.color) %}
                {{ v }}. 
            {% endfor %}
            <br>
            Dinero total despúes de la ronda: ${{player.money}}.
        </li>
        {% else %}
        <li>No players registered</li>
        {% endfor %}
    </ul>
    <a href="{{ path('player_index') }}">Lista de Jugadores</a>
</div>
{% endblock %}
